* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    color:#fff !important; 
    background-color:#6ec071 !important
}

/* header and navigation */

#home-button {

}

#main-title{

}

.nav-links {

}